.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.recipe-link {
  float: left;
}

.shopping-list-link {
  float: right;
}


div.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

div.recipe-tile {
  box-shadow: 10px 10px #cacaca;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

div.recipe-tile p, ul {
  text-align: left;
}

div.ingredient-tile {
  box-shadow: 10px 10px #cacaca;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}